---
layout: default
---
{% assign left-panel = site.panels[page.panel-left] %}
{% assign mid-panel = site.panels[page.panel-mid] %}
{% assign right-panel = site.panels[page.panel-right] %}

<div class="w3-cell-row w3-theme" style="width:100%">
    <section class="w3-panel w3-theme-light w3-border-left w3-cell w3-mobile">
        <header>
            <h2>{{ left-panel.title }}</h2>
        </header>
        <div class="w3-panel w3-border-theme w3-border"> 
            {{ left-panel.content }}
        </div>
    </section>
    <section class="w3-panel w3-theme-light w3-border-left w3-cell w3-mobile">
        <header>
            <h2>{{ mid-panel.title }}</h2>
        </header>
        <div class="w3-panel w3-border-theme w3-border">
            {{ mid-panel.content }}
        </div>
    </section>
    <section class="w3-panel w3-theme-light w3-border-left w3-cell w3-mobile">
        <header>
            <h2>{{ right-panel.title }}</h2>
        </header>
        <div class="w3-panel w3-border-theme w3-border">
            {{ right-panel.content }}
        </div>
    </section>
</div> 