---
layout: section
---
{% assign posts = site.posts | where: "category", page.category %}
{% for post in posts %}
    <div class="w3-border-theme w3-border-bottom">
        <header class="w3-container">
            <h3>{{ post.title }}</h3>
            <p>{{ post.date }}</p>
        </header>
        <div class="w3-panel" style="float:left">
            {% if post.image %}
                <img src="{{post.image}}" alt="{{ post.alt-text }}" class="w3-image">
            {% endif %}
        </div>
        {{ post.content }}
    </div>
{% endfor %}
