---
layout: default
---
<div class="w3-row w3-theme-light">
    <div class="w3-col l3 w3-hide-small w3-hide-medium">
        <div class="w3-bar-block w3-container">
            <h4>Contents</h4>
            {% assign section = site.data.contents[page.category] %}
            {% for article in section.articles %}
                {% if article.url == page.url %}
                    {% assign cls = "w3-bar-item w3-button w3-theme-l1" %}
                {% else %}
                    {% assign cls = "w3-bar-item w3-button" %}
                {% endif %}
                <a href="{{ article.url }}" class="{{ cls }}">{{ article.link-text }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="w3-col l6 w3-border">
        <div class="w3-container w3-text-theme">
            <header class="w3-border-theme w3-border-bottom">
                <h2>{{ page.title}}</h2>
            </header>
            <div class="w3-panel" style="float:left">
                {% if page.image %}
                <img src="{{page.image}}" alt="{{ page.alt-text }}" class="w3-image">
                {% endif %}
            </div>
            {{ content }}
        </div>
    </div>
    <div class="w3-col l3 w3-hide-small w3-hide-medium">
        <p></p>
    </div>
</div>