---
layout: default
---
<div class="w3-container w3-sidebar w3-bar-block w3-collapse w3-theme-light" style="width:250px" id="site-toc">
    <button class="w3-button w3-large w3-hide-large w3-right" onclick="w3_close()">&times;</button>
    <h4>Contents</h4>
    {% assign section = site.data.contents[page.section] %}
    {% for article in section.articles %}
        {% if article.url == page.url %}
            {% assign cls = "w3-bar-item w3-button w3-theme-l1" %}
        {% else %}
            {% assign cls = "w3-bar-item w3-button" %}
        {% endif %}
        <a href="{{ article.url }}" class="{{ cls }}">{{ article.link-text }}</a>
    {% endfor %}
</div>
<article class="w3-container w3-main w3-theme-light" style="Margin-left:250px">
    <header">
        <button class="w3-button w3-large w3-hide-large" onclick="w3_open()">&#9776;</button>
        <h2 style="color:#fff">{{ page.title }}</h2>
    </header>
    <section class="w3-text-theme">
        {{ content }}
    </section>
</article>

<script>
    function w3_open() {
      document.getElementById("site-toc").style.display = "block";
    }
    
    function w3_close() {
      document.getElementById("site-toc").style.display = "none";
    }
    </script>